<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/error-403.css}"/>
</head>

<div class="scene">
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <span class="bg-403">500</span>
  <div class="text">
    <span class="hero-text"></span>
    <span class="msg">Something wrong with <span>our servers</span>, sorry, we'll be right back.</span>
    <span class="support">
      <span>Please take your time</span>
      <a href="/">To Contact us!</a>
    </span>
  </div>
  <div class="lock"></div>
</div>