<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/error-403.css}"/>
</head>

<div class="scene">
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <span class="bg-403">404</span>
  <div class="text">
    <span class="hero-text"></span>
    <span class="msg">Wrong <span>page</span> format.</span>
    <span class="support">
      <span>unexpected?</span>
      <a href="/">Go back to Home page</a>
    </span>
  </div>
  <div class="lock"></div>
</div>