<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">



<link rel="stylesheet" th:href="@{/css/footer.css}" />



<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<nav th:fragment="navbar"
	class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Projects IO</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home</a>
			</li>
			<li class="nav-item"><a class="nav-link" th:href="@{/employees}">Employees</a>
			</li>
			<li class="nav-item"><a class="nav-link" th:href="@{/projects}">Projects</a>
			</li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/projects/timelines}">PT</a></li>
		</ul>
	</div>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo02"
		style="position: absolute; right: 0">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item"><a class="nav-link" th:href="@{/register}">Register</a>
			</li>
			<li class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a>
			</li>
			<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a>
			</li>
		</ul>

	</div>
</nav>



<div
	class="container-fluid pb-0 mb-0 justify-content-center text-light "
	th:fragment="footer">
	<footer>
		<div class="row my-5 justify-content-center py-5">
			<div class="col-11">
				<div class="row ">
					<div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
						<h3 class="text-muted mb-md-0 mb-5 bold-text">JCT.</h3>
					</div>
					<div class="col-xl-2 col-md-4 col-sm-4 col-12">
						<h6 class="mb-3 mb-lg-4 bold-text ">
							<b>MENU</b>
						</h6>
						<ul class="list-unstyled">
							<li>Home</li>
							<li>About</li>
							<li>Blog</li>
							<li>Portfolio</li>
						</ul>
					</div>
					<div class="col-xl-2 col-md-4 col-sm-4 col-12">
						<h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5">
							<b>ADDRESS</b>
						</h6>
						<p class="mb-1">999, Muharrem Fejza</p>
						<p>Mati 1</p>
					</div>
				</div>
				<div class="row ">
					<div
						class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
						<p class="social text-muted mb-0 pb-0 bold-text">
							<span class="mx-2"><i class="fa fa-facebook"
								aria-hidden="true"></i></span> <span class="mx-2"><i
								class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span
								class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span>
							<span class="mx-2"><i class="fa fa-instagram"
								aria-hidden="true"></i></span>
						</p>
						<small class="rights"><span>&#174;</span> JCT All
							Rights Reserved.</small>
					</div>
					<div
						class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
						<h6 class="mt-55 mt-2 text-muted bold-text">
							<b>Rick Sanchez</b>
						</h6>
						<small> <span><i class="fa fa-envelope"
								aria-hidden="true"></i></span> Morty@gmail.com
						</small>
					</div>
					<div
						class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
						<h6 class="text-muted bold-text">
							<b>Valton Sherifi</b>
						</h6>
						<small><span><i class="fa fa-envelope"
								aria-hidden="true"></i></span> valtoni.gl@gmail.com</small>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
</html>